body {
    margin: 5px 80px 0px;
    text-align: center;
}
.second {
    background-color: rgb(238, 238, 238);
    padding-top: 0%;
    padding-bottom: 0%;
}

.box{
    width: 500px;
    height: 70px;
    margin: 1px;
    padding-top: 10px;
    background-color:rgb(126, 229, 218);
    float: left;
}

.middle-box {
    width: 250px;
    font-size: 13px;
    background-color: rgb(112, 204, 194);;
}

.right-box {
    width: 579px;
    height: 80px;
    padding-top: 0px;
    font-size: 13px;
    background-color: rgb(98, 179, 170);;
}

p {
    font-size: 13px;
}